.product {
    font-family: 'Arial', sans-serif;
  width: 90;
  padding: 1rem;
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      border-bottom: 1px solid #ddd;
  
      .logo {
        font-size: 2rem;
        font-weight: bold;
      }
  
      .nav_links {
        display: flex;
        gap: 1rem;
  
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #333;
          font-weight: 500 bold;
          font-size: 1.1rem;
          transition: color 0.2s;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }}